@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik/static/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik/static/Rubik-Light.ttf") format("truetype");
  font-weight: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #ECEFF4;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'header'
                       'main'
                       'footer';
  grid-template-rows: 22rem auto 4rem;
  overflow-x: hidden;
}

.background-box {
  position: fixed;
  z-index: -100;
  background-color: #475762;
  height: 100vh;
  width: 50vw;
  border-top-right-radius: 24px;
}

.main-header {
  display: grid;
  grid-area: header;
  grid-template-areas: 'image image'
                       'firstName lastName'
                       'titleOne titleTwo';
  grid-template-rows: auto 3rem 3rem;
  grid-template-columns: 50% 50%;
}

.profile-circle {
  width: 10rem;
  height: 10rem;
  grid-area: image;
  padding-bottom: 1rem;
  border-radius: 100%;
  overflow: hidden;
  justify-self: center;
  margin-bottom: 1rem;
  align-self: end;
  border-style: solid;
  border-color: #475762;
  border-width: 0.25rem;
}

.profile-circle__image {
  width: 100%;
  position: relative;
  top: -0.75rem;
}

.first-name {
  grid-area: firstName;
  justify-self: right;
  padding-right: 0.5rem;
  color: #ECEFF4;
  align-self: end;
}

.last-name {
  grid-area: lastName;
  justify-self: left;
  padding-left: 0.5rem;
  color: #475762;
  align-self: end;
}

.job-title {
  color: #12cc94;
  font-weight: normal;
  align-self: start;
}

.job-title__one {
  grid-area: titleOne;
  justify-self: right;
  padding-right: 0.5rem;
}

.job-title__two {
  grid-area: titleTwo;
  justify-self: left;
  padding-left: 0.5rem;
}

.main-content {
  grid-area: main;
  margin-top: 1.5rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.main-details {
  display: grid;
  grid-template-columns: 50% 50%;
}

.main-details__question {
  color: #ECEFF4;
  justify-self: left;
  margin: 0.5rem;
  margin-left: 1rem;
  font-weight: 700;
}

.main-details__answer {
  color: #475762;
  justify-self: left;
  margin: 0.5rem;
  margin-left: 1.5rem;
}

.main-details__answer--image {
  height: 1.5rem;
}

.main-details__answer--image > img {
  height: 90%;
  margin: 0.5rem;
  margin-left: 1.5rem;
}

.skills-box {
  margin-top: 2rem;
  background-color: rgba(81, 81, 81, 0.1);
  min-height: 16rem;
  border-radius: 16px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: grid;
  grid-template-areas: 'title title title title'
                       'skill1 skill2 skill3 skill4'
                       'resume resume resume resume';
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 3rem auto 4rem;
  align-items: center;
}

.skills-box__title {
  color: #ECEFF4;
  padding-left: 1.5rem;
  font-weight: normal;
}

.skills-box__skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-box__skill--skill1 {
  grid-area: skill1;
  color: #ECEFF4;
}

.skills-box__skill--skill2 {
  grid-area: skill2;
  color: #ECEFF4;
}

.skills-box__skill--skill3 {
  grid-area: skill3;
  color: #475762;
}

.skills-box__skill--skill4 {
  grid-area: skill4;
  color: #475762;
}

.skills-box__skill--circle {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.skills-box__skill--skill1 > .skills-box__skill--circle {
  background: rgba(120, 233, 199, 0.4) conic-gradient(#12CC94 0deg 270deg, transparent 270deg 360deg);
}

.skills-box__skill--skill2 > .skills-box__skill--circle {
  background: rgba(120, 233, 199, 0.4) conic-gradient(#12CC94 0deg 160deg, transparent 160deg 360deg);
}

.skills-box__skill--skill3 > .skills-box__skill--circle {
  background: rgba(120, 233, 199, 0.4) conic-gradient(#12CC94 0deg 300deg, transparent 300deg 360deg);
}

.skills-box__skill--skill4 > .skills-box__skill--circle {
  background: rgba(120, 233, 199, 0.4) conic-gradient(#12CC94 0deg 230deg, transparent 230deg 360deg);
}

.skills-box__button {
  grid-area: resume;
  width: 80%;
  height: 70%;
  align-self: center;
  justify-self: center;
  background-color: #12CC94;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
}

.skills-box__button > a{
  text-decoration: none;
  color:#ECEFF4;
  width: 100%;
  height: 100%;
}

.certifications-box {
  margin: auto;
  margin-top: 2rem;
}

.certifications-box__title {
  color: #ECEFF4;
}

.certifications-box__certifications {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(4, 25%);
}

.certifications-box__certification {
  margin: auto;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 70%;
}

.certifications-box__certification > img {
  width: 100%;
}

.main-footer {
  grid-area: footer;
  background-color: #475762;
  border-top-right-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.main-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  text-decoration: none;
}

.main-footer__link--note {
  color: #ECEFF4;
  line-height: 100%;
}

.main-footer__link--image {
  height: 50%;
  aspect-ratio: 1/1;
  background-color: #ECEFF4;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__link--image > img {
  height: 80%;
}